<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mock-A-Shop</title>
</head>
<body>
    <h1>Mock-A-Shop</h1>
    <header>
        <nav>
            <ul>
                <li><a href="#" th:href="@{/store/shopping-cart}" method="get">Shopping Cart</a></li>
                <li><a href="#" th:href="@{/store/product-catalog}" method="get">Product Catalog</a></li>
                <li><a href="#" th:href="@{/store/order}" method="get">My Orders</a></li>
            </ul>
        </nav>
    </header>
    <div>
        Visit our product catalog <li><a href="#" th:href="@{/store/product-catalog}" method="get">here</a></li>
    </div>
</body>
</html>